//
// Reset
// Base reset styles
//

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px !important;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  outline: 0;
}
