<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="form"
  (ngSubmit)="submit()"
  id="velora_login_password_reset_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1
      class="text-dark fw-bolder mb-3"
      translate="workspace.auth.forgot.title">
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div
      class="text-gray-500 fw-semibold fs-6"
      translate="workspace.auth.forgot.desc">
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  @if (errorState() === errorStates.HasError) {
    <div class="mb-lg-15 alert alert-danger">
      <div
        class="alert-text font-weight-bold"
        translate="validation.pleaseTryAgain">
      </div>
    </div>
  }
  <!-- end::Alert error-->

  @if (errorState() === errorStates.NoError) {
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div
        class="text-info"
        translate="workspace.auth.forgot.success">
      </div>
      <!--end::Body-->
    </div>
  }

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label
      class="form-label fw-bolder text-gray-900 fs-6"
      for="email"
      translate="workspace.auth.input.email">
    </label>

    <input
      class="form-control bg-transparent"
      id="email"
      type="email"
      formControlName="email"
            [placeholder]="'workspace.auth.input.email' | translate"
      name="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': form.controls['email'].invalid,
        'is-valid': form.controls['email'].valid
      }"
    />

    <!--begin::Input feedback-->
    <vl-invalid-feedback
      control="email"
      name="workspace.auth.input.email">
    </vl-invalid-feedback>
    <!--end::Input feedback-->
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="velora_password_reset_submit"
      class="btn btn-primary me-4"
      [attr.data-velora-indicator]="(isLoading$ | async) ? 'on' : 'off'">

      <span
        class="indicator-label"
        translate="common.actions.submit">
      </span>
      <span class="indicator-progress">
        {{'common.states.wait' | translate}}
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </button>
    <a
      routerLink="/auth/login"
      class="btn btn-light"
      translate="common.actions.back">
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->
